.cursor-pointer {
  cursor: pointer;
}


.color-white {
  color: white;
}

.link-hover:hover {
  color: #98b9ff;
  text-decoration: none;
}

.card {
  box-shadow: 2px 2px 3px rgb(194, 194, 194);
}

.my-shadow {
  box-shadow: 2px 2px 3px rgb(207, 207, 207);
}

.bg-my-secondary {
  background: rgb(245, 245, 245);
}