.DraftEditor-root {
  min-height: 100px;
  background-color: #fff;
}

.block-picker {
  margin-left: -73px;
  margin-top: 15px;
  z-index: 100!important;
  position: absolute!important;
}

.rdw-editor-toolbar, .editor-class {
  border: 1px solid rgb(214, 214, 214);
  background-color: #fff;
  margin-bottom: 20px;
}

.public-DraftStyleDefault-block {
  margin-top: 0px;
  margin-bottom: 0px;
}